

<h2>Gestion des utilisateurs</h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Ajouter un utilisateur
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm" (ngSubmit)="addUser()">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required  [(ngModel)]="user.name">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="user.username">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="user.email">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" required [(ngModel)]="user.phone">
          </div>

          <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Ajouter</button>

        </form>

      </div>

    </div>
  </div>
</div>
<br>
<table class="table table-bordered table-responsive">
<thead>
  <tr>
    <th>Id</th>
    <th> Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>

    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let us of users">
    <td>{{us.id}}</td>
    <td>{{us.name}}</td>
    <td>{{us.username}}</td>
    <td>{{us.email}}</td>
    <td>{{us.phone}}</td>
    <!--td>{{us.address.city}}</td-->
    <td>

      <button (click)="deleteOneUser(us)" class="btn btn-danger">Delete</button>
    </td>

  </tr>
</tbody>


</table>
